@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Dongle:wght@300;400&display=swap');

/* font-family: 'Bree Serif', serif; */
/* font-family: 'Dongle', sans-serif; */

/* Global selector */
:root{
    --headers: #012A4A;
    --background: #A9D6E5;
    --main: #2C7DA0;
}

*{
    padding: 0;
    margin: 0;
    line-height: 2;
}

nav ul#mainNavigation li{
    list-style-type: none;
}

nav ul#mainNavigation li a{
    text-decoration: none;
}

#mainLogo{
    width: 20%;
    margin: .2rem;
    border-radius: 50%;
    box-shadow: 0px 0px 4px 0px var(--offblack);
}

.logos{
    width: 70%;
    margin-top: .3rem;
    margin-left: .3rem;
    border-radius: 50%;
    box-shadow: 0px 0px 4px 0px var(--offblack);
}

#hamburgerBtn{
    display: inline;
    background-color: transparent;
    border: none;
    font-size: 2rem;
    color: var(--background);
    margin-right: .5rem;
}

#hamburgerBtn:hover{
    background-color: var(--headers);
    color: white;
}

#hamburgerBtn span:nth-child(1){
    display: block;
}
#hamburgerBtn span:nth-child(2){
    display: none;
}

#hamburgerBtn.open span:nth-child(1){
    display: none;
}
#hamburgerBtn.open span:nth-child(2){
    display: block;
}

header{
    background-color: var(--headers);
    color: white;
    padding: .1rem;
}

div#header{
    display: flex;
    justify-content: space-between;
    padding: .2rem;
}

#current_date{
    background-color: var(--background);
    padding: .5rem;
    margin: .5rem 1rem;
    display: block;
    text-align: center;
    font-size: x-small;
}

dt{
    font-family: 'Bree Serif', serif;
    font-size: small;
}

dd{
    font-family: 'Bree Serif', serif;
    font-size: xx-small;
}

nav ul#mainNavigation{
    border-bottom: 1px solid rgba(0,0,0,.5);
}

nav ul#mainNavigation li a{
    display: block;
    text-align: center;
    padding: .2rem;
    border-top: 1px solid rgba(0,0,0,.5);
    color: black;
    font-family: 'Bree Serif', serif;
    font-size: x-small;
    background-color: var(--background);
}

nav ul#mainNavigation li a.active{
    background-color: var(--main);
    color: white;
}

#mainText{
    margin-top: .5rem;
}

nav ul#mainNavigation li a:hover{
    background-color: var(--headers);
    color: white;
}

nav ul#mainNavigation{
    display: none;
}

nav ul#mainNavigation.open{
    display: block;
}

.one, .two, .three, .four, .six{
    padding-bottom: 6rem;
    margin: 1rem;
    background-color: #eee;
    border: 1px solid rgba(0,0,0,.5);
}

.mainBody{
    display: block;
}

.one p, .two p, .three p, .four p, .six p{
    padding: .2rem;
    margin: .2rem;
    font-family: 'Dongle', sans-serif;
    font-size: large;
}

.five{
    padding: 1rem 0rem 1rem 0rem;
    margin: 1rem;
    background-color: #eee;
    border: 1px solid rgba(0,0,0,.5);
}
 
.six{
    display: none;
}

.five p{
    padding: 5rem 1rem;
    margin: .2rem .5rem;
    font-family: 'Dongle', sans-serif;
    font-size: large;
    border: 1px solid rgba(0,0,0,.5);
    display: block;
}

.five p:nth-child(3){
    display: none;
}

footer{
    background-color: var(--headers);
    color: white;
    display: block;
}

img.mainLogo{
    width: 40%;
    border-radius: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 1rem;
    box-shadow: 0px 0px 4px 0px var(--offblack);
}

.subOne{
    text-align: center;
    font-size: medium;
    padding: .2rem;
    margin: 0rem;
}

.subTwo, .fooer p{
    text-align: center;
    font-size: x-small;
    padding: .2rem;
    margin-right: 0rem;
}

.fooerOne{
    display: block;
}

.fooerOne p, .fooerOne dd{
    text-align: center;
    font-size: xx-small;
    padding: .2rem;
}

hr{
    display: block;
}